# Python
venv/
.venv/
__pycache__/
*.pyc

# Proje & Test
.env
.pytest_cache/
test_raporu.html
heatmap.png
.DS_Store

# Loglar & MLflow
logs/
*.logs
mlruns/
mlflow.db

# Modeller ve Veriler
data/
*.pt
best_checkpoint.pt
models/*.pt
models/*.onnx
models/*.onnx.data
models/*.pkl
models/future_plans
!models/metadata.json