# Python
venv/
.venv/
__pycache__/
*.pyc

# Proje & Test
.env
.pytest_cache/
test_raporu.html
heatmap.png
.DS_Store

# Loglar & MLflow
logs/
*.logs
mlruns/
mlflow.db

# Modeller ve Veriler
data/
*.pt
best_checkpoint.pt
models/*.pt
models/*.pkl
!models/metadata.json
!models/model_v1.onnx
!models/model_v1.onnx.data
future_plans.txt
